{% extends "base.html" %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <a class="mr-2" href="#">{{ post.author.username }}</a>
    <br>
    <small class="text-muted">Posted on: {{ post.datePosted }}
        {% if current_user.username == post.author.username %}
        <div>
            <a class="btn btn-outline-warning" href="{{url_for('editPost', postId = post.id)}}" >Edit Post</a>
            <a class="btn btn-outline-danger" href="{{url_for('deletePost', postId = post.id)}}" >Delete</a>
        </div>
        {% endif %}
    </small>
    <div class = "container">
        <article class="media content-section">
                <p class="article-content">{{ post.content }}</p>
        </article>
    </div>
{% endblock content %}